certifi==2020.12.5
chardet==4.0.0
greenlet==1.1.0
idna==2.10
playwright==1.11.1
pyee==8.1.0
requests==2.25.1
selenium==3.141.0
selenium-stealth==1.0.6
TikTokApi==3.9.6
typing-extensions==3.10.0.0
urllib3==1.26.4
websockets==9.0.2
youtube-dl==2021.5.16
